@charset "utf-8";
/* CSS Document */

.bottom-width{
	width: 100%;
	padding: 5px;
    background-color: rgb(51, 122, 183);
	display:none;
	overflow: hidden;
}

.cicle-box{
	height: auto;
	float: left;
	cursor: pointer;
	margin-right: 10px;
	text-align: center;
	color: white;
	font-size: 20px;
	align-content: center;
	
}
.cicle-box:hover{
	background-color: aqua;
}
.cicle-box img{
	width: 50px;
	height: 50px;
	
}



.menu{
	width: 1200px;
	margin: auto;
}
.menu ul{
	list-style-type:none;
	padding: 0px;
	margin:0px;
}

.menu ul li{
	float: left;
}
.pop-form{
	width: 100%;
	padding: 10px;
	float: left;
	z-index: -1;
}
.frm-box{
	width: 100%;
	margin: auto;
	margin-top: 05px;
	padding:10px;
	background-color:#eee;
	border-radius:5px;
	font-size:20px;
	overflow: hidden;
}
.title-box{
	width: 100%;
	float: left;
	background-color: #eee;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: 1px solid #ccc;
	text-align: center;
	overflow: hidden;
}
.frm-book{
	width: 100%;
	background-color: white;
	padding: 10px;
	float: left;
	
}
.tb{
	
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #eee;
	margin-bottom: 05px;
	
}
.tb tr th{
	border: 1px solid #eee;
	padding: 10px;
	font-size: 18px;
	background-color: black;
	color: white;
}
.tb tr td{
	border: 1px solid #eee;
	background-color:cadetblue;
	color: white;
	padding: 10px;
	font-size: 14px;
}

.form-group .fl{
	width: 100px;
	height: 120px;
	border: 1px solid #ddd;
	background-image: url(../img/form/bg-img.png);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.form-group .fl input{
	width: 100px;
	height: 120px;
	opacity: 0;
	cursor: pointer;
}
.form-group .fl_ads{
	width:400px;
	height: 320px;
	border: 1px solid #ddd;
	background-image: url(../img/form/bg-img.png);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
.form-group .fl_ads input{
	width: 400px;
	height: 320px;
	opacity: 0;
	cursor: pointer;
}
.pop{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	left: 0px;
	top: 0px;
	
}
.form-group  textarea{
	height: 400px;
	resize: none;
}
.top-width{
	width: 100%;
	position: relative;
}
.title-box{
	padding: 05px;
	float: left;
}
.close{
	width: 20px;
	position: absolute;
	top:10px;
	right: 20px;
	
}

/*01*/


/*02*/

.float-right{
	float: right;
	margin-bottom: 5px;
}

.float-left{
	float: left;
	margin-bottom: 5px;
}

body{
	font-family: 'khmer';
	background-color: rgba(216,211,211,1.00);
}

/*css for message alert when you want to delete*/
.modal-confirm {		
		color: #636363;
		width: 400px;
	}
	.modal-confirm .modal-content {
		padding: 20px;
		border-radius: 5px;
		border: none;
        text-align: center;
		font-size: 14px;
	}
	.modal-confirm .modal-header {
		border-bottom: none;   
        position: relative;
	}
	.modal-confirm h4 {
		text-align: center;
		font-size: 26px;
		margin: 30px 0 -10px;
	}
	.modal-confirm .close {
        position: absolute;
		top: -5px;
		right: -2px;
	}
	.modal-confirm .modal-body {
		color: #999;
	}
	.modal-confirm .modal-footer {
		border: none;
		text-align: center;		
		border-radius: 5px;
		font-size: 13px;
		padding: 10px 15px 25px;
	}
	.modal-confirm .modal-footer a {
		color: #999;
	}		
	.modal-confirm .icon-box {
		width: 80px;
		height: 80px;
		margin: 0 auto;
		border-radius: 50%;
		z-index: 9;
		text-align: center;
		border: 3px solid #f15e5e;
	}
	.modal-confirm .icon-box i {
		color: #f15e5e;
		font-size: 46px;
		display: inline-block;
		margin-top: 13px;
	}
    .modal-confirm .btn {
        color: #fff;
        border-radius: 4px;
		background: #60c7c1;
		text-decoration: none;
		transition: all 0.4s;
        line-height: normal;
		min-width: 120px;
        border: none;
		min-height: 40px;
		margin: 0 5px;
		outline: none !important;
    }
	.modal-confirm .btn-info {
        background: #c1c1c1;
    }
    .modal-confirm .btn-info:hover, .modal-confirm .btn-info:focus {
        background: #a8a8a8;
    }
    .modal-confirm .btn-danger {
        background: #f15e5e;
    }
    .modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
        background: #ee3535;
    }
	.trigger-btn {
		display: inline-block;
		margin: 100px auto;
	}












