@charset "utf-8";
/* CSS Document */
.atc-slide-box{
	width: 100%;
	position: relative;
}
.atc-slide-box .atc-box-img{
	width: 100%;
	height: 400px;
	display:none;
	position: relative;
}

.atc-box-img img{
	width: 100%;
	height: 400px;
}

.atc-box-title{
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	padding: 10px;
	font-size: 20px;
	color: white;
	font-weight: 400;
	font-family: 'Koulen' cursive;
	position: absolute;
	left: 0px;
	bottom: 0px;
}

.atc-title{
	width: 100%;
	word-wrap: break-word;
	font-size: 18px;
	font-weight: 700;
	line-height: 26px;
	font-family: 'Battambang';
}
.atc-title a{
	display: block;
	color: #333;
	text-decoration: none;
	
}

.atc-box-detail{
	width: 100%;
	margin-bottom: 15px;
	float:left;
	overflow: hidden;
	font-family: 'Khmer', cursive;
}

.atc-box-detail .col-lg-4 a img{
	width: 100%;
	height: 100%;
}

.atc-ads-box{
	width: 100%;
	height: 200px;
	
}
.atc-ads-box img{
	width: 100%;
	height: 100%;
}
#top_left_ads{
	width: 300px;
	height: 250px;
	margin-bottom: 10px;
}
#top_left_ads .ads_item{
	height: 250px;
	width: 300px;
	float: left;
	background-color: #ddd;
	
}
#top_left_ads .ads_item img{
	width: 100%;
	height: 100%;
	
}
.atc-box-new{
	width: 100%;
	margin-bottom: 10px;
	float: left;
	height: auto;
	
}
.atc-box-new .title{
	width: 100%;
	font-family: 'Koulen';
	font-size: 20px;
	color: #636B6F;
	padding-bottom: 10px;
	position: relative;
}
.atc-box-new  .border{
	width: 55px;
	height: 3px;
	background: #E4242C;
	position: absolute;
	left: 0px;
	bottom: 0px;
}
.atc-box-new  .box-layout{
	width: 100%;
	margin-bottom: 5px;
	float: left;
}
.atc-box-new  .box-layout .col-lg-10 a{
	display: block;
	text-decoration: none;
	color: black;
	font-family: 'khmer',cursive;
	font-weight: 600;
	font-size: 14px;
	word-wrap: break-word;
}
.box-layout .col-lg-2 .img-box {
	width: 100%;
	height: 60px;
		
}

.box-layout .col-lg-2 .img-box img{
	width: 100%;
	height: 60px;
		
}

.share-wrapper{
	float: left;
	margin-bottom: 10px;
}

@media(max-width:767px){
  /* For mobile phones: */
	.atc-box-new{
		display: none;
	}
	.atc-ads-box{
		display: none;
	}
	
	.box-layout{
		display: none;
	}
}

.box-more{
	float:left;
	width:100%;
	padding: 5px 0px;
	text-align: center;
}

.btn-more{
	background-color:rgb(51, 122, 183);
	margin: auto;
	width:150px;
	padding: 10px 0px;
	text-align: center;
	cursor: pointer;
	border-radius:20px;
	color: white;
}
.btn-more:hover{
	background-color: darkblue;
}

.zoom{
	width: 100%;
	height: 140px;
	transition: transform .2s;
}
@media(max-width:960px){
	.zoom{
	width: 100%;
	height: 300px;
	transition: transform .2s;
}
}

@media(max-width:768px){
	.zoom{
	width: 100%;
	height: 300px;
	transition: transform .2s;
	}
}

@media(max-width:480px){
	.zoom{
	width: 100%;
	height: 150px;
	transition: transform .2s;
	}
}
.zoom:hover{
	-ms-transform:scale(1.1);
	-webkit-transform:scale(1.1);
	transform:scale(1.1);
}

.atc-thumnail{
	padding: 0px;
	overflow: hidden;
}

.atc-detail{
	box-shadow: 2px 2px 4px 1px #ccc;
	padding-top:15px;
	font-family: 'Battambang',sans-serif;
	font-size: 16px;
	background-color: white;
	word-wrap: break-word;
}
.atc-detail .title{
	width: 100%;
	margin-bottom: 10px;
	font-family: 'Koulen';
	font-size: 20px;
	color: #636B6F;
	padding-bottom: 10px;
	position: relative;
}
.atc-detail .border{
	width: 55px;
	height: 3px;
	background: #E4242C;
	position: absolute;
	left: 0px;
	bottom: 0px;
}
.atc-detail h2{
	font-size: 25px;
	line-height: 30px;
	font-family: 'Bayon';
}

.atc-share{
	width: 100%;
	overflow: hidden;
	padding:10px 0px;
	margin-bottom: 10px;
}
.atc-sub-phone{
	display: none;
	width:100%;
	padding: 10px 15px;
	overflow: hidden;

}
.atc-sub-thumnail{
	width: 50%;
	height: 170px;
	padding: 05px 10px;
	float: left;
}
.atc-sub-thumnail .thumnail{
	width: 100%;
	height: 100px;
	background-color: black;
}
.atc-sub-thumnail .thumnail img{
	width: 100%;
	height: 100%;
}
.atc-sub-thumnail .thumnail:hover{
	opacity: 0.5;
}
.atc-sub-thumnail .title{
	width: 100%;

} 
.atc-sub-thumnail .title a{
	display: block;
	text-decoration: none;
	font-family: 'khmer' , cursive;
	font-weight: 600;
	color: black;
	text-align:left;
	word-wrap: break-word;
}
.atc-tab{
	display: none;
	width: 100%;
	font-family: 'koulen', cursive;
	color: #636B6F;
	padding: 10px 15px;
	font-size: 20px;
	float: left;
	position: relative;
	
}
.atc-tab .tab1{
	width: 55px;
	height: 3px;
	background-color:#E4242C;
	position: absolute;
	left: 15px;
	bottom: 0px;
}

.atc-date{
	padding-top: 10px;
	font-family:Time New Roman;
}
.atc-row{
	display: none;
	float: left;
	overflow: hidden;
	width: 100%;
	margin: 20px 0px;
}
#atc-paragrap{
	font-size: 15px;
	font-family: 'Battambang',sans-serif;
	line-height: 24px;
}
#atc-paragrap-sub{
	font-size: 15px;
	font-family: 'Battambang',sans-serif;
	line-height: 24px;
}
.like_page{
	width: 100%;
	margin: auto;
	padding: 20px;
	background-color: #eee;
	border-radius: 5px;
}
.like_page .title{
	font-size: 16px;
	font-weight: 700;
	font-family: 'Battambang',sans-serif;
	color: #636B6F;
	margin-bottom: 10px;
}

.fb_iframe_widget_fluid span, iframe.fb_ltr { width: 100% !important; }

.line{
	margin: 10px 0px;
}
.items{
	padding-left: 10px;
}
.top_ads{
	display: none;
	width: 300px;
	height: 250px;
	margin: auto;
	margin-bottom: 10px;
}
.top_ads img{
	width: 100%;
	height: 100%;
}

.col-sm-7half, .col-sm-5half {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.show{
	
}
@media (max-width: 768px) {
    .col-sm-7half, .col-sm-5half {
        float: left;
    }
    .col-sm-5half {
        width: 44.16666667%;
    }
    .col-sm-7half {
        width: 54.83333333%;
    }

}
@media (min-width: 1200px){
	.col-lg-4 {
        width: 27.83333333%;
    }
    .col-lg-8 {
        width: 71.16666667%;
    }
	

}

/*iphone 6,7,8*/
@media only screen 
  and (min-width: 375px) 
  and (max-width: 667px) 
  and (orientation: portrait) 
  { 

    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
.atc-tab{
			display: block;
		}
	.atc-ads-box{
		display: none;
	}
	.atc-row{
		display: block;
		margin-top: 20px;
		width: 100%;
	}

	.zoom{
		float: left;
		height: 100px;
	}
	.atc-detail{
		font-size: 30px;	
	}
		
	.atc-title a{
		font-size: 14px;
		font-weight: normal;
	}	
	.atc-box-new  .box-layout .col-lg-9 a{
		font-size: 30px;	
	}
		.atc-box-detail{
			width: 50%;
			height: 180px;
			margin-bottom: 5px;
			padding: 0px 5px;
		}
		.atc-box-new .title{
			font-size: 35px;
		}

	.atc-detail h2{
		  font-size: 25px;
		  
	  }  
	.atc-box-title{
		  font-size: 20px;
	  }
	#atc-paragrap{
	font-size: 14px;
	}	
	.atc-sub{
			display: none;
	}
	.atc-sub-phone{
		display: block;
		
	}
	.atc-share{
		 font-size:20px;
	 } 
  	.atc-date{
		  display: none;
	  }	
		
	.atc-slide-box .atc-box-img{
		  height: 250px;
	  }
	  
	.atc-box-img img{
		width: 100%;
		height: 250px;
	}	
		.line{
			display: none;
		}
		
		#atc-paragrap-sub{
			display: none;
		}
		
		.container{
			padding: 0px;
		}
		.items{
			padding: 0px;
		}
	  .btn-more{
		  width: 100px;
		  font-size: 14px;
	  }
	  
	  .top_ads{
			display: block;
		}
	  #banner{
			display: none;
		}
	  
	  .box_slide{
		  display: flex;
	  }
	  
	  .show{
	display: none!important;
	}
}

@media only screen 
  and (min-width: 375px) 
  and (max-width: 667px) 
  and (orientation: landscape){
/* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
.atc-tab{
			display: block;
		}
	.atc-ads-box{
		display: none;
	}
	.atc-row{
		display: block;
		margin-top: 20px;
		width: 100%;
	}

	.zoom{
		float: left;
		height: 173px;
	}
	.atc-detail{
		font-size: 30px;	
	}
		
	.atc-title a{
		font-size: 14px;
		font-weight: normal;
	}	
	.atc-box-new  .box-layout .col-lg-9 a{
		font-size: 30px;	
	}
		.atc-box-detail{
			width: 50%;
			padding: 0px 5px;
			height: 284px;
		}
		.atc-box-new .title{
			font-size: 35px;
		}

	.atc-detail h2{
		  font-size: 25px;
		  
	  }  
	.atc-box-title{
		  font-size: 20px;
	  }
	#atc-paragrap{
	font-size: 14px;
	}	
	.atc-sub{
			display: none;
	}
	.atc-sub-phone{
		display: block;
		
	}
	.atc-share{
		 font-size:20px;
	 } 
  	.atc-date{
		  display: none;
	  }	
		
	.atc-slide-box .atc-box-img{
		  height: 250px;
	  }
	  
	.atc-box-img img{
		width: 100%;
		height: 250px;
	}	
		.line{
			display: none;
		}
		
		#atc-paragrap-sub{
			display: none;
		}
		
		.container{
			padding: 0px;
		}
		.items{
			padding: 0px;
		}
	  .btn-more{
		  width: 100px;
		  font-size: 14px;
	  }
	.top_ads{
			display: block;
		}
	 
	#banner{
			display: none;
		}
	  
	.box_slide{
		  display: flex;
	  }
	  
	 .show{
	display: none!important;
	}
}

/*iphone 6,7,8*/

/*iphone 5,5SE*/
@media only screen 
  and (min-width: 320px) 
  and (max-width: 568px)
  and (orientation: portrait)
   {
	  
    [class*="col-"] {
        width: 100%;
    }
	  .atc-tab{
			display: block;
		}
	.atc-ads-box{
		display: none;
	}
	.atc-row{
		display: block;
		margin-top: 20px;
		width: 100%;
	}

	.zoom{
		float: left;
		height: 100px;
	}
	.atc-detail{
		font-size: 30px;	
	}
		
	.atc-title a{
		font-size: 14px;
		font-weight: normal;
	}	
	.atc-box-new  .box-layout .col-lg-9 a{
		font-size: 30px;	
	}
		.atc-box-detail{
			width: 50%;
			padding: 0px 5px;
			height: 180px;
		}
		.atc-box-new .title{
			font-size: 35px;
		}

	.atc-detail h2{
		  font-size: 25px;
		  
	  }  
	.atc-box-title{
		  font-size: 20px;
	  }
	#atc-paragrap{
	font-size: 14px;
	}	
	.atc-sub{
			display: none;
	}
	.atc-sub-phone{
		display: block;
		
	}
	.atc-share{
		 font-size:20px;
	 } 
  	.atc-date{
		  display: none;
	  }	
		
	.atc-slide-box .atc-box-img{
		  height: 250px;
	  }
	  
	.atc-box-img img{
		width: 100%;
		height: 250px;
	}	
		.line{
			display: none;
		}
		
		#atc-paragrap-sub{
			display: none;
		}
		
		.container{
			padding: 0px;
		}
		.items{
			padding: 0px;
		}
	  .btn-more{
		  width: 100px;
		  font-size: 14px;
	  }
	   
	  .top_ads{
			display: block;
		}
	   
	   #banner{
			display: none;
		}
	   
	  .box_slide{
		  display: flex;
	  }
	  .show{
		display: none!important;
	}    
}

@media only screen 
  and (min-width: 320px) 
  and (max-width: 568px)
  and (orientation: landscape) {
	  
	      [class*="col-"] {
        width: 100%;
    }
	   .atc-tab{
			display: block;
		}
	.atc-ads-box{
		display: none;
	}
	.atc-row{
		display: block;
		margin-top: 20px;
		width: 100%;
	}

	.zoom{
		float: left;
		height: 145px;
	}
	.atc-detail{
		font-size: 30px;	
	}
		
	.atc-title a{
		font-size: 14px;
		font-weight: normal;
	}	
	.atc-box-new  .box-layout .col-lg-9 a{
		font-size: 30px;	
	}
		.atc-box-detail{
			width: 50%;
			padding: 0px 5px;
			height: 245px;
		}
		.atc-box-new .title{
			font-size: 35px;
		}

	.atc-detail h2{
		  font-size: 25px;
		  
	  }  
	.atc-box-title{
		  font-size: 20px;
	  }
	#atc-paragrap{
	font-size: 14px;
	}	
	.atc-sub{
			display: none;
	}
	.atc-sub-phone{
		display: block;
		
	}
	.atc-share{
		 font-size:20px;
	 } 
  	.atc-date{
		  display: none;
	  }	
		
	.atc-slide-box .atc-box-img{
		  height: 250px;
	  }
	  
	.atc-box-img img{
		width: 100%;
		height: 250px;
	}	
		.line{
			display: none;
		}
		
		#atc-paragrap-sub{
			display: none;
		}
		
		.container{
			padding: 0px;
		}
		.items{
			padding: 0px;
		}
	.btn-more{
		  width: 100px;
		  font-size: 14px;
	  }
	  
	  .top_ads{
			display: block;
		}
	 #banner{
			display: none;
		}
	  
	  .box_slide{
		  display: flex;
	  }
	  .show{
		   display: none!important;
		}
}


/*iphone 5,5SE*/

/*iphone 4,4s*/
@media only screen 
  and (min-width: 320px) 
  and (max-width: 480px)
  and (orientation: portrait) {
	    [class*="col-"] {
        width: 100%;
    }
	.atc-tab{
			display: block;
		}
	.atc-ads-box{
		display: none;
	}
	.atc-row{
		display: block;
		margin-top: 20px;
		width: 100%;
	}

	.zoom{
		float: left;
		height: 100px;
	}
	.atc-detail{
		font-size: 30px;	
	}
		
	.atc-title a{
		font-size: 14px;
		font-weight: normal;
	}	
	.atc-box-new  .box-layout .col-lg-9 a{
		font-size: 30px;	
	}
		.atc-box-detail{
			width: 50%;
			padding: 0px 5px;
			height: 180px;
		}
		.atc-box-new .title{
			font-size: 35px;
		}

	.atc-detail h2{
		  font-size: 25px;
		  
	  }  
	.atc-box-title{
		  font-size: 20px;
	  }
	#atc-paragrap{
	font-size: 14px;
	}	
	.atc-sub{
			display: none;
	}
	.atc-sub-phone{
		display: block;
		
	}
	.atc-share{
		 font-size:20px;
	 } 
  	.atc-date{
		  display: none;
	  }	
		
	.atc-slide-box .atc-box-img{
		  height: 250px;
	  }
	  
	.atc-box-img img{
		width: 100%;
		height: 250px;
	}	
		.line{
			display: none;
		}
		
		#atc-paragrap-sub{
			display: none;
		}
		
		.container{
			padding: 0px;
		}
		.items{
			padding: 0px;
		}
	  	.btn-more{
		  width: 100px;
		  font-size: 14px;
	  }
	  
	  .top_ads{
			display: block;
		}
	  #banner{
			display: none;
		}
	  
	   .box_slide{
		  display: flex;
	  }
	  
	  .show{
		   display: none!important;
		}
}

@media only screen 
  and (min-width: 320px) 
  and (max-width: 480px)
  and (orientation: landscape) {
	  
	  	    [class*="col-"] {
        width: 100%;
    }
	.atc-tab{
			display: block;
		}
	.atc-ads-box{
		display: none;
	}
	.atc-row{
		display: block;
		margin-top: 20px;
		width: 100%;
	}

	.zoom{
		float: left;
		height: 100px;
	}
	.atc-detail{
		font-size: 30px;	
	}
		
	.atc-title a{
		font-size: 14px;
		font-weight: normal;
	}	
	.atc-box-new  .box-layout .col-lg-9 a{
		font-size: 30px;	
	}
		.atc-box-detail{
			width: 50%;
			padding: 0px 5px;
			height: 210px;
		}
		.atc-box-new .title{
			font-size: 35px;
		}

	.atc-detail h2{
		  font-size: 25px;
		  
	  }  
	.atc-box-title{
		  font-size: 20px;
	  }
	#atc-paragrap{
	font-size: 14px;
	}	
	.atc-sub{
			display: none;
	}
	.atc-sub-phone{
		display: block;
		
	}
	.atc-share{
		 font-size:20px;
	 } 
  	.atc-date{
		  display: none;
	  }	
		
	.atc-slide-box .atc-box-img{
		  height: 250px;
	  }
	  
	.atc-box-img img{
		width: 100%;
		height: 250px;
	}	
		.line{
			display: none;
		}
		
		#atc-paragrap-sub{
			display: none;
		}
		
		.container{
			padding: 0px;
		}
		.items{
			padding: 0px;
		}
	  	.btn-more{
		  width: 100px;
		  font-size: 14px;
	  }
	
	  .top_ads{
			display: block;
		}
	  #banner{
			display: none;
		}
	  
	   .box_slide{
		  display: flex;
	  }
	  
	  .show{
		   display: none!important;
		}
}

/*iphone 4,4s*/

/*iphone 6 plus,7 plus,8plus*/
@media only screen 
  and (min-width: 414px) 
  and (max-width: 736px) 
  and (orientation: portrait)
	{
		
	[class*="col-"] {
        width: 100%;
    }
	.phone-ads{
		display: block;
	}
	.atc-tab{
			display: block;
		}
	.atc-ads-box{
		display: none;
	}
	.atc-row{
		display: block;
		margin-top: 20px;
		width: 100%;
	}

	.zoom{
		float: left;
		height: 100px;
	}
	.atc-detail{
		font-size: 30px;	
	}
		
	.atc-title a{
		font-size: 14px;
		font-weight: normal;
	}	
	.atc-box-new  .box-layout .col-lg-9 a{
		font-size: 30px;	
	}
		.atc-box-detail{
			width: 50%;
			padding: 0px 5px;
			height: 183px;
		}
		.atc-box-new .title{
			font-size: 35px;
		}

	.atc-detail h2{
		  font-size: 25px;
		  
	  }  
	.atc-box-title{
		  font-size: 20px;
	  }
	#atc-paragrap{
	font-size: 14px;
	}	
	.atc-sub{
			display: none;
	}
	.atc-sub-phone{
		display: block;
		
	}
	.atc-share{
		 font-size:20px;
	 } 
  	.atc-date{
		  display: none;
	  }	
		
	.atc-slide-box .atc-box-img{
		  height: 250px;
	  }
	  
	.atc-box-img img{
		width: 100%;
		height: 250px;
	}	
		.line{
			display: none;
		}
		
		#atc-paragrap-sub{
			display: none;
		}
		
		.container{
			padding: 0px;
		}
		.items{
			padding: 0px;
		}
		
		.btn-more{
		  width: 100px;
		  font-size: 14px;
	  }
		.top_ads{
			display: block;
		}
		
		#banner{
			display: none;
		}
	 .box_slide{
		  display: flex;
	  }
		  .show{
		   display: none!important;
		}
}

@media only screen 
  and (min-width: 414px) 
  and (max-width: 736px) 
  and (orientation: landscape) { 
	
	  [class*="col-"] {
        width: 100%;
    }
	.atc-tab{
			display: block;
		}
	.atc-ads-box{
		display: none;
	}
	.atc-row{
		display: block;
		margin-top: 20px;
		width: 100%;
	}

	.zoom{
		float: left;
		height: 193px;
	}
	.atc-title{
		  float: left;
	  }
	.atc-detail{
		font-size: 30px;	
	}

	.atc-title a{
		font-size: 14px;
		font-weight: normal;
	}	
	.atc-box-new  .box-layout .col-lg-9 a{
		font-size: 30px;	
	}
		.atc-box-detail{
			width: 50%;
			padding: 0px 5px;
			height: 312px;
		}
		.atc-box-new .title{
			font-size: 35px;
		}

	.atc-detail h2{
		  font-size: 25px;
		  
	  }  
	.atc-box-title{
		  font-size: 20px;
	  }
	#atc-paragrap{
	font-size: 14px;
	}	
	.atc-sub{
			display: none;
	}
	.atc-sub-phone{
		display: block;
		
	}
	.atc-share{
		 font-size:20px;
	 } 
  	.atc-date{
		  display: none;
	  }	
		
	.atc-slide-box .atc-box-img{
		  height: 250px;
	  }
	  
	.atc-box-img img{
		width: 100%;
		height: 250px;
	}	
		.line{
			display: none;
		}
		
		#atc-paragrap-sub{
			display: none;
		}
		
		.container{
			padding: 0px;
		}
		.items{
			padding: 0px;
		}
	  .btn-more{
		  width: 100px;
		  font-size: 14px;
	  }
	  
		.top_ads{
			display: block;
		}
	  #banner{
			display: none;
		}
	   .box_slide{
		  display: flex;
	  }
	  
	  .show{
		   display: none!important;
	  }
}

/*iphone 6 plus,7 plus,8plus*/

/*pixel 2*/
@media only screen 
  and (min-width: 411px) 
  and (max-width: 731px) 
  and (orientation: landscape) {
		
	 	  [class*="col-"] {
        width: 100%;
    }
	.atc-tab{
			display: block;
		}
	.atc-ads-box{
		display: none;
	}
	.atc-row{
		display: block;
		margin-top: 20px;
		width: 100%;
	}

	.zoom{
		float: left;
		height: 193px;
	}
	.atc-title{
		  float: left;
	  }
	.atc-detail{
		font-size: 30px;	
	}

	.atc-title a{
		font-size: 14px;
		font-weight: normal;
	}	
	.atc-box-new  .box-layout .col-lg-9 a{
		font-size: 30px;	
	}
		.atc-box-detail{
			width: 50%;
			padding: 0px 5px;
		}
		.atc-box-new .title{
			font-size: 35px;
		}

	.atc-detail h2{
		  font-size: 25px;
		  
	  }  
	.atc-box-title{
		  font-size: 20px;
	  }
	#atc-paragrap{
	font-size: 14px;
	}	
	.atc-sub{
			display: none;
	}
	.atc-sub-phone{
		display: block;
		
	}
	.atc-share{
		 font-size:20px;
	 } 
  	.atc-date{
		  display: none;
	  }	
		
	.atc-slide-box .atc-box-img{
		  height: 250px;
	  }
	  
	.atc-box-img img{
		width: 100%;
		height: 250px;
	}	
		.line{
			display: none;
		}
		
		#atc-paragrap-sub{
			display: none;
		}
		
		.container{
			padding: 0px;
		}
		.items{
			padding: 0px;
		}
	  .btn-more{
		  width: 100px;
		  font-size: 14px;
	  }
	  
	   .box_slide{
		  display: flex;
	  }
	  
	  	  .show{
		   display: none!important;
		}
}

/*Nokia Lumie*/

@media only screen 
  and (min-width: 320px) 
  and (max-width: 533px) 
  and (orientation: landscape) {
	  
	   [class*="col-"] {
        width: 100%;
    }
	.atc-tab{
			display: block;
		}
	.atc-ads-box{
		display: none;
	}
	.atc-row{
		display: block;
		margin-top: 20px;
		width: 100%;
	}

	.zoom{
		float: left;
		height: 155px;
	}
	.atc-title{
		  float: left;
	  }
	.atc-detail{
		font-size: 30px;	
	}

	.atc-title a{
		font-size: 14px;
		font-weight: normal;
	}	
	.atc-box-new  .box-layout .col-lg-9 a{
		font-size: 30px;	
	}
		.atc-box-detail{
			width: 50%;
			padding: 0px 5px;
		}
		.atc-box-new .title{
			font-size: 35px;
		}

	.atc-detail h2{
		  font-size: 25px;
		  
	  }  
	.atc-box-title{
		  font-size: 20px;
	  }
	#atc-paragrap{
	font-size: 14px;
	}	
	.atc-sub{
			display: none;
	}
	.atc-sub-phone{
		display: block;
		
	}
	.atc-share{
		 font-size:20px;
	 } 
  	.atc-date{
		  display: none;
	  }	
		
	.atc-slide-box .atc-box-img{
		  height: 250px;
	  }
	  
	.atc-box-img img{
		width: 100%;
		height: 250px;
	}	
		.line{
			display: none;
		}
		
		#atc-paragrap-sub{
			display: none;
		}
		
		.container{
			padding: 0px;
		}
		.items{
			padding: 0px;
		}
	  .btn-more{
		  width: 100px;
		  font-size: 14px;
	  }
	  
	   .box_slide{
		  display: flex;
	  }
	  .show{
		   display: none!important;
		}
}

@media only screen 
  and (min-width: 320px) 
  and (max-width: 533px) 
  and (orientation: portrait) {
	  
	   [class*="col-"] {
        width: 100%;
    }
	.atc-tab{
			display: block;
		}
	.atc-ads-box{
		display: none;
	}
	.atc-row{
		display: block;
		margin-top: 20px;
		width: 100%;
	}

	.zoom{
		float: left;
		height: 100px;
	}
	.atc-title{
		  float: left;
	  }
	.atc-detail{
		font-size: 30px;	
	}

	.atc-title a{
		font-size: 14px;
		font-weight: normal;
	}	
	.atc-box-new  .box-layout .col-lg-9 a{
		font-size: 30px;	
	}
		.atc-box-detail{
			width: 50%;
			padding: 0px 5px;
			height: 180px;
		}
		.atc-box-new .title{
			font-size: 35px;
		}

	.atc-detail h2{
		  font-size: 25px;
		  
	  }  
	.atc-box-title{
		  font-size: 20px;
	  }
	#atc-paragrap{
	font-size: 14px;
	}	
	.atc-sub{
			display: none;
	}
	.atc-sub-phone{
		display: block;
		
	}
	.atc-share{
		 font-size:20px;
	 } 
  	.atc-date{
		  display: none;
	  }	
		
	.atc-slide-box .atc-box-img{
		  height: 250px;
	  }
	  
	.atc-box-img img{
		width: 100%;
		height: 250px;
	}	
		.line{
			display: none;
		}
		
		#atc-paragrap-sub{
			display: none;
		}
		
		.container{
			padding: 0px;
		}
		.items{
			padding: 0px;
		}
	  .btn-more{
		  width: 100px;
		  font-size: 14px;
	  }
	  
	   .box_slide{
		  display: flex;
	  }
	  
	  	 .show{
		   display: none!important;
		}
}


@media only screen 
  and (min-width:480px) 
  and (max-width: 854px) 
  and (orientation: portrait) {
	  
	   [class*="col-"] {
        width: 100%;
    }
	.atc-tab{
			display: block;
		}
	.atc-ads-box{
		display: none;
	}
	.atc-row{
		display: block;
		margin-top: 20px;
		width: 100%;
	}

	.zoom{
		float: left;
		height: 120px;
	}
	.atc-title{
		  float: left;
	  }
	.atc-detail{
		font-size: 30px;	
	}

	.atc-title a{
		font-size: 14px;
		font-weight: normal;
	}	
	.atc-box-new  .box-layout .col-lg-9 a{
		font-size: 30px;	
	}
		.atc-box-detail{
			width: 50%;
			padding: 0px 5px;
			height: 210px;
		}
		.atc-box-new .title{
			font-size: 35px;
		}

	.atc-detail h2{
		  font-size: 25px;
		  
	  }  
	.atc-box-title{
		  font-size: 20px;
	  }
	#atc-paragrap{
	font-size: 14px;
	}	
	.atc-sub{
			display: none;
	}
	.atc-sub-phone{
		display: block;
		
	}
	.atc-share{
		 font-size:20px;
	 } 
  	.atc-date{
		  display: none;
	  }	
		
	.atc-slide-box .atc-box-img{
		  height: 250px;
	  }
	  
	.atc-box-img img{
		width: 100%;
		height: 250px;
	}	
		.line{
			display: none;
		}
		
		#atc-paragrap-sub{
			display: none;
		}
		
		.container{
			padding: 0px;
		}
		.items{
			padding: 0px;
		}
	  .btn-more{
		  width: 100px;
		  font-size: 14px;
	  }
	  
	   .box_slide{
		  display: flex;
	  }
	  	  .show{
		   display: none!important;
		}
}

@media only screen 
  and (min-width: 360px) 
  and (max-width: 740px) 
  and (orientation: landscape) {
		 [class*="col-"] {
        width: 100%;
    }
	.atc-tab{
			display: block;
		}
	.atc-ads-box{
		display: none;
	}
	.atc-row{
		display: block;
		margin-top: 20px;
		width: 100%;
	}

	.zoom{
		float: left;
		height: 190px;
	}
	.atc-title{
		  float: left;
	  }
	.atc-detail{
		font-size: 30px;	
	}

	.atc-title a{
		font-size: 14px;
		font-weight: normal;
	}	
	.atc-box-new  .box-layout .col-lg-9 a{
		font-size: 30px;	
	}
		.atc-box-detail{
			width: 50%;
			padding: 0px 5px;
			height: 253px;
		}
		.atc-box-new .title{
			font-size: 35px;
		}

	.atc-detail h2{
		  font-size: 25px;
		  
	  }  
	.atc-box-title{
		  font-size: 20px;
	  }
	#atc-paragrap{
	font-size: 14px;
	}	
	.atc-sub{
			display: none;
	}
	.atc-sub-phone{
		display: block;
		
	}
	.atc-share{
		 font-size:20px;
	 } 
  	.atc-date{
		  display: none;
	  }	
		
	.atc-slide-box .atc-box-img{
		  height: 250px;
	  }
	  
	.atc-box-img img{
		width: 100%;
		height: 250px;
	}	
		.line{
			display: none;
		}
		
		#atc-paragrap-sub{
			display: none;
		}
		
		.container{
			padding: 0px;
		}
		.items{
			padding: 0px;
		}
	  .btn-more{
		  width: 100px;
		  font-size: 14px;
	  }
		#banner{
			display: none;
		}
	   .box_slide{
		  display: flex;
	  }
	  
	  	  .show{
		   display: none!important;
		}
}

@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px) 
  and (orientation: portrait)  {
		
	.atc-tab{
			display: block;
		}
	.atc-ads-box{
		display: none;
	}
	.atc-row{
		display: block;
		margin-top: 20px;
		width: 100%;
	}

	.zoom{
		float: left;
		height: 376px;
	}
	.atc-title{
		  float: left;
	  }
	.atc-detail{
		font-size: 30px;	
	}

	.atc-title a{
		font-size: 14px;
		font-weight: normal;
	}	
	.atc-box-new  .box-layout .col-lg-9 a{
		font-size: 30px;	
	}
		.atc-box-detail{
			width: 100%;
			padding: 0px 5px;
			height: auto;
		}
		.atc-box-new .title{
			font-size: 35px;
		}

	.atc-detail h2{
		  font-size: 25px;
		  
	  }  
	.atc-box-title{
		  font-size: 20px;
	  }
	#atc-paragrap{
	font-size: 14px;
	}	
	.atc-sub{
			display: none;
	}
	.atc-sub-phone{
		display: block;
		
	}
	.atc-share{
		 font-size:20px;
	 } 
  	.atc-date{
		  display: none;
	  }	
		
	.atc-slide-box .atc-box-img{
		  height: 250px;
	  }
	  
	.atc-box-img img{
		width: 100%;
		height: 250px;
	}	
		.line{
			display: none;
		}
		
		#atc-paragrap-sub{
			display: none;
		}
		
		.container{
			padding: 0px;
		}
		.items{
			padding: 0px;
		}
	  .btn-more{
		  width: 100px;
		  font-size: 14px;
	  }
	  
	   .box_slide{
		  display: flex;
	  }
	  
	  .show{
		   display: none!important;
		}
}

@media only screen 
  and (min-width: 600px) 
  and (max-width: 960px) 
  and (orientation: portrait)  {
				 [class*="col-"] {
        width: 100%;
    }
	.atc-tab{
			display: block;
		}
	.atc-ads-box{
		display: none;
	}
	.atc-row{
		display: block;
		margin-top: 20px;
		width: 100%;
	}

	.zoom{
		float: left;
		height: 155px;
	}
	.atc-title{
		  float: left;
	  }
	.atc-detail{
		font-size: 30px;	
	}

	.atc-title a{
		font-size: 14px;
		font-weight: normal;
	}	
	.atc-box-new  .box-layout .col-lg-9 a{
		font-size: 30px;	
	}
		.atc-box-detail{
			width: 50%;
			padding: 0px 5px;
			height: 253px;
		}
		.atc-box-new .title{
			font-size: 35px;
		}

	.atc-detail h2{
		  font-size: 25px;
		  
	  }  
	.atc-box-title{
		  font-size: 20px;
	  }
	#atc-paragrap{
	font-size: 14px;
	}	
	.atc-sub{
			display: none;
	}
	.atc-sub-phone{
		display: block;
		
	}
	.atc-share{
		 font-size:20px;
	 } 
  	.atc-date{
		  display: none;
	  }	
		
	.atc-slide-box .atc-box-img{
		  height: 250px;
	  }
	  
	.atc-box-img img{
		width: 100%;
		height: 250px;
	}	
		.line{
			display: none;
		}
		
		#atc-paragrap-sub{
			display: none;
		}
		
		.container{
			padding: 0px;
		}
		.items{
			padding: 0px;
		}
	  .btn-more{
		  width: 100px;
		  font-size: 14px;
	  }
	  
	   .box_slide{
		  display: flex;
	  }
	  
	  	  .show{
		   display: none!important;
		}
}

@media only screen 
  and (min-width: 360px) 
  and (max-width: 767px) 
  and (orientation: portrait)  {
		
		
		.show{
		   display: none!important;
		}
}








